---
title: Crossfire Racing
permalink: "/"
layout: page
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">CROSSFIRE RACING</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
{% include about.html %}

{% include schedule.html %}

{% include crew.html %}

{% include training.html %}

{% include boat.html %}
