<a name="boat"></a>
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
      <div class="section-title text-left">
        <h2>The Boat</h2>
        <p>The design brief for Crossfire (ex Rima2) called for a boat that was capable of competing against the TP52's inshore buoy racing, yet strong enough to handle the most grueling offshore events. Crossfire features a high stability keel and bulb; and an over 50% ballast/displacement ratio. The high modulus carbon rig and composite C6 rigging adds greatly to the stability of this design. Crossfire is a powerful yacht capable of strong upwind performance in the 9+ knot range and even more exciting downwind rides at well over 20 knots.</p>
      </div>
      <p>Crossfire was built using Pre-Preg carbon fiber with Nomex core and high-density PVC foam core in the slamming areas. The construction of this yacht was focused around extensive offshore sailing; durability was of paramount concern.</p>
      <div class="row">

      </div>
      <div class='panel panel-default col-md-6'>
        <div class='panel-heading'>Measurements:</div>
        <div class='panel-body'>
          <table class='table'>
            <tbody>
              <tr>
                <td>LOA:</td>
                <td>55ft 3in</td>
              </tr>
              <tr>
                <td>LWL:</td>
                <td>551ft 2in</td>
              </tr>
              <tr>
                <td>Beam:</td>
                <td>14ft 8in</td>
              </tr>
              <tr>
                <td>Draft:</td>
                <td>13 ft</td>
              </tr>
              <tr>
                <td>Bridge Clearance:</td>
                <td>90ft 5in</td>
              </tr>
              <tr>
                <td>Ballast:</td>
                <td>8050lb</td>
              </tr>
              <tr>
                <td>Displacement:</td>
                <td>20865lb</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      </div>
      <div class="col-md-6">
        <img class='img-responsive diagram' src='img/crossfire-diagram.min.svg' alt='diagram' />
      </div>
    </div>
  </div>
</section>
