<a name="crew"></a>
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Crew</h2>
        <p>The Crossfire Racing crew is a dedicated team of experienced sailors based in the Northwest.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Scott Anderson – Runners</h4>
            <p>Years Sailing:  52 Years</p>
            <p>Offshore/Ocean Mileage:  10,000+ Miles</p>
            <p>Offshore/Ocean Experience: Races: Transpac, Tp-52 Worlds (South Beach, Fla.), Swiftsure, Southern Straits, Grand Prix; Cruising: Seattle To Hawaii</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Bob Arney – Jib/Spin Trim</h4>
            <p>Years Sailing:  50 Years</p>
            <p>Offshore/Ocean Mileage:  80,000 Miles</p>
            <p>Offshore/Ocean Experience:  Races:  Transpac(5), Vic Maui(2), Marina Del Rey To Puerto Vallarta, Van Isle 360, Oregon Offshore (5), Other: Baha Ha Ha Rally</p>
            <p>Licenses: Uscg 50 Ton Master (Near Coastal)</p>
            <p>American Sailing Association Instructor</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Nigel Barron – Boat Captain</h4>
          <p>Years Sailing:  30 Years</p>
          <p>Offshore/Ocean Mileage:  32,000 Miles</p>
          <p>Offshore/Ocean Experience:  Races: Transpac, Newport-Ensenada, Pacific Cup, Vicmaui, Swiftsure</p>
          <p>Licenses: Uscg 50 Grt</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Brad Baker</h4>
          <p>Years Sailing:  36 Years</p>
          <p>Offshore/Ocean Mileage:  40,000 Miles</p>
          <p>Offshore/Ocean Experience:  Races: Swiftsure (30+), Southern Straits (12), Van Isle 360, Vic Maui (9); Sailing Venues: Puget Sound And Surrounding Waters; Cruising:   Seattle To South Pacific And Back</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Lou Bianco - Owner/Skipper</h4>
          <p>Years Sailing:  30+Years</p>
          <p>Offshore/Ocean Mileage: 35,000 Miles</p>
          <p>Offshore/Ocean Experience: Races: Stamford-Vineyard, Around Long Island (4), Transpac (3), Newport-Ensenada, Swiftsure (23), Southern Straits , Around The County (10); Sailing Venues: Long Island And Block Island Sound, Pacific Northwest: Puget Sound, Straits Of Juan De Fuca And Georgia.</p>
          <p>Licenses: Uscg 50 Grt</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Patrick Cook – Jib/Spin Trim</h4>
          <p>Years sailing: 30</p>
          <p>13,000+ miles offshore racing and cruising. Extensive Coastal and inshore sailing in the Northwest. Major Races - Vic-Maui, Newport Ensenada, Chicago-Mac, 15 Swiftsure's, Southern Straights,  3x Rolex Big Boat Series.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Craig Cooper - Mid Bow</h4>
          <p>Years Sailing:  18 Years</p>
          <p>Offshore/Ocean Mileage: 14,800+ Miles</p>
          <p>Offshore/Ocean Experience: Races: Vic Maui (2); Depveries: U.S. West Coast (Including Chuck Paine 80' Sailing Yact To San Francisco)</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Rick Donohue – Grinder</h4>
          <p>Years Sailing:  6</p>
          <p>Offshore/Ocean Mileage: 3,000 Miles</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Bruce Dunn – Grinder</h4>
            <p>Years Sailing:  47 Years</p>
            <p>Offshore/Ocean Mileage:  15,000+</p>
            <p>Offshore/Ocean Experience:  Races: Tp52 Worlds(South Beach, Fla.), Waikiki Offshore Series, Newport-Ensenada, Oregon Offshore, Swiftsure (25),Grand Prix, Southern Straits (5)</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Patrick Gibbs – Bow</h4>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Derek Murphy - Mast</h4>
          <p>20 years sailing, 8 years racing</p>
          <p>Offshore/Ocean Experience: 30,000 miles</p>
          <p>Offshore/Ocean Experience Races: Trans-Pac, St. Francis Yacht Club Rolex Big Boat Series, Newport to Ensenada, Santa Barbara to King Harbor, Swiftsure, various SoCal ocean/offshore races</p>
          <p>USCG licenses: Master (100 Gross Tons) and Engineer (Unlimited Horsepower)</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Rick Sassara – Grinder</h4>
          <p>Years Sailing:  42 Years</p>
          <p>Offshore/Ocean Mileage:  4,500 Miles</p>
          <p>Offshore/Ocean Experience:  Races:  Swiftsure (15), Southern Straits (4), Oregon Offshore (2), Grand Prix, Big Boat Series (2); Other:  Star National, Olson 30 National, Laser Nationals, Cruising And Deliveries</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Mike Schaeffer – Tactician</h4>
          <p>Years Sailing:  40 Years</p>
          <p>Offshore/Ocean Mileage:  20,000+</p>
          <p>Offshore/Ocean Experience:  Races:  Mexorc(2), Long Beach Race Week, Swiftsure (14),  Round The Sound, Tri-Island Series (16), Round The County (6), Great Equalizer (3), Whidbey Island Race Week (4), Southern Straits (2); Other:  6 Different North American Championships</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>John Stanley – Main Trim</h4>
          <p>Years Sailing:  43 Years</p>
          <p>Offshore/Ocean Mileage:  35,000 Miles</p>
          <p>Offshore/Ocean Experience:  Races:  Vic Maui (2), Transpac , Newport-Cabo (2), Isla Natividad , Kenwood Cup, Swiftsure, Southern Straits; Other: Collegiate Keelboat Sailing 1983 National Championship; Sailing Venues: Puget Sound, California, Hawaii, Masachusetts.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6">
        <div class="service-item">
          <h4>Mike Stanley – Pit</h4>
          <p>Years Sailing:  40 Years</p>
          <p>Offshore/Ocean Mileage:  40,000 Miles</p>
          <p>Offshore/Ocean Experience: Races: Southern Straits ,Puget Sound And West Coast Regattas, Rolex Swan Atlantic Regatta, International Yacht Club Challenge, Around Oahu, Olson 30; Other: Olson 30 Nat'l Champion ('93,'95,'96), J35 Nat'l Champion ('98)</p>
        </div>
      </div>
    </div>
  </div>
</section>
