<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-7 col-md-offset-5 feature-text">
      <a name="schedule"></a>
      <h2>SCHEDULE</h2>
        <p>
          Crossfire racing has an extensive schedule of inshore and offshore
          racing scheduled for 2017. Look for us on the water!
        </p>
        <p>Our current schedule for 2017: </p>
        <table class="table">
          <thead>
            <tr>
              <th>Race</th>
              <th>Date</th>
              <th>Placed</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>TTPYC Duwamish Head</td>
              <td>1/7/17</td>
              <td>1st Place</td>
            </tr>
            <tr>
              <td>CYC Blakely Rock</td>
              <td>3/4/17</td>
              <td>1st Place</td>
            </tr>
            <tr>
              <td>CYC Scatchet Head</td>
              <td>3/11/17</td>
              <td>1st Place</td>
            </tr>
            <tr>
              <td>CYC Three Tree Point</td>
              <td>3/25/17</td>
              <td>2nd Place</td>
            </tr>
            <tr>
              <td>STYC Blakely Rock Benefit</td>
              <td>4/1/17</td>
              <td>1st class, 1st OA</td>
            </tr>
            <tr>
              <td>SYC Protection Island</td>
              <td>4/29/17</td>
              <td></td>
            </tr>
            <tr>
              <td>SYC Vashon Island</td>
              <td>5/13/17</td>
              <td></td>
            </tr>
            <tr>
              <td>RVYS Swiftsure Classic</td>
              <td>5/26 to 5/28/17</td>
              <td></td>
            </tr>
            <tr>
              <td>SYC Blake Island</td>
              <td>6/3/17</td>
              <td></td>
            </tr>
            <tr>
              <td><a href="http://www.leukemiacup.org/pages/wa/sea17/CROSSFIREANDSEATTLESAILINGCLUB">Leukemia Cup</a></td>
              <td>6/10/17</td>
              <td></td>
            </tr>
            <tr>
              <td>TYC Transpac Race</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>CYCE Foulweather Bluff</td>
              <td>10/7/17</td>
              <td></td>
            </tr>
            <tr>
              <td>SYC Grand Prix</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>OIYC Round the County</td>
              <td>11/4 and 11/5/17</td>
              <td></td>
            </tr>
            <tr>
              <td>TYC Winter Vashon</td>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
</section>
