<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6 feature-text">
      <a name="schedule"></a>
      <h2>SCHEDULE</h2>
        <p>
          Crossfire racing has an extensive schedule of inshore and offshore
          racing scheduled for 2017. Look for us on the water!
        </p>
        <p>Our current schedule for 2017: </p>
        <ul class='list-group'>
          <li class='list-schedule-item'>TTPYC Duwamish Head</li>
          <li class='list-schedule-item'>CYC Blakely Rock</li>
          <li class='list-schedule-item'>CYC Scatchet Head</li>
          <li class='list-schedule-item'>CYC Three Tree Point</li>
          <li class='list-schedule-item'>STYC Blakely Rock Benefit</li>
          <li class='list-schedule-item'>SYC Protection Island</li>
          <li class='list-schedule-item'>SYC Vashon Island</li>
          <li class='list-schedule-item'>RVYS Swiftsure Classic</li>
          <li class='list-schedule-item'>SYC Blake Island</li>
          <li class='list-schedule-item'>Leukemia Cup (tentative)</li>
          <li class='list-schedule-item'>TYC Transpac Race</li>
          <li class='list-schedule-item'>CYCE Foulweather Bluff</li>
          <li class='list-schedule-item'>SYC Grand Prix</li>
          <li class='list-schedule-item'>OIYC Round the County</li>
          <li class='list-schedule-item'>TYC Winter Vashon</li>
        </ul>
    </div>
  </div>
</div>
</section>
